@font-face {
  font-family: text;
  src: url("/assets/font/text.woff2") format("woff2"), url("/assets/font/text.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: blog;
  src: url("/assets/font/blog.woff2") format("woff2"), url("/assets/font/blog.woff") format("woff");
  font-display: swap;
}