<nav class="card links">
    <h2 class="text-center">Quick links</h2>
    <a href="/">Home page</a>
    <a href="/all">All posts</a>
    <a href="{{site.posts.first.url}}">Latest post</a>

    <hr>

    <h2 class="text-center">Categories</h2>
    {% for category in site.categories %}
        {% capture name %}{{ category | first }}{% endcapture %}
        <a href="/categories/{{name | slugify}}">{{name}}</a>
    {% endfor %}

    <hr>

    <a href="https://vcz.fr" style="color:#809"><span class="icon">▱</span> My website</a>
    <a href="https://github.com/vcz-fr/blog" rel="nofollow"><span class="icon">✨</span> Repository</a>
</nav>