---
layout: default
---

<div class="card">
    <h1>{{page.title}}</h1>

    <p>
        Posted on {{page.date | date: "%A %B %d, %Y"}}
    </p>
    <p>
        <span class="purple">Next:</span>
        {% if page.next.url %}
        <a href="{{page.next.url}}">{{page.next.title}}</a>
        {% else %}
        <span>You have reached the end&hellip;</span>
        {% endif %}

        <br>

        <span class="purple">Previous:</span>
        {% if page.previous.url %}
        <a href="{{page.previous.url}}">{{page.previous.title}}</a>
        {% else %}
        <span>You have reached the beginning&hellip;</span>
        {% endif %}
    </p>
</div>

<div class="card">
    {{ content }}
</div>